<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product edit</title>
</head>
<body>
    <h2>編集フォーム</h2>
    <form method="post" action="#" th:action="@{'/sample/edit/' + ${testForm.id}}" th:object="${testForm}">
        <label for="name">商品名</label>
        <input type="text" id="name" name="name" th:value="${testForm.name}"><br>
        <label for="old">在庫数</label>
        <input type="text" id="old" name="old" th:value="${testForm.old}"><br>
        <input type="submit" value="送信">
    </form>
    <div><a href="#" th:href="@{/sample}">トップページ</a></div>
</body>
</html>