<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product form</title>
</head>
<body>
    <h2>入力フォーム</h2>
    <!-- th：action 宛先・・contorollerクラスの登録画面用のURl
     th:object オブジェクトの指定・・contorollerクラスのmodelAttributeの引数
     -->
    
    <form method="post" th:action="@{/user/form}" th:object="${tentity}">
    
    
    <label>ID:<input type="text" th:field="*{id}"></label><br>
    <label>商品名:<input type="text" th:field="*{product_name}"></label><br>
    <label>在庫数:<input type="text" th:field="*{quantity}"></label><br>
              
     <!-- 一時退避ブロック3 
        <label for="product_name">商品名</label>
        <input type="text" id="product_name" name="product_name" th:value="${newarrival.product_name}"><br>
        <label for="old">在庫数</label>
        <input type="text" id="quantity" name="quantity" th:value="${newarrival.quantity}"><br>-->
        <input type="submit" value="送信">
    </form>　
    
    <div><a href="#" th:href="@{/user/product_list}">トップページ</a></div>
</body>
</html>