<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product form</title>
</head>
<body>
    <h2>入力フォーム</h2>
    <!-- th：action 宛先・・contorollerクラスの登録画面用のURl
     th:object オブジェクトの指定・・contorollerクラスからここに注入-->   
    <form method="post" th:action="@{/user/form}" th:object="${tentity}">
        
     <!--<label>ID:<input type="text" th:field="*{id}"></label><br>--> 
     
    <label>商品名:<input type="text" th:field="*{product_name}"></label><br>
    <label>在庫数:<input type="text" th:field="*{quantity}"></label><br>
              
     <!--submitで内容を送付-->
        <input type="submit" value="送信">
    </form>　
    
    <div><a href="#" th:href="@{/user/product_list}">トップページ</a></div>
</body>
</html>