<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- マッパークラスと同じ場所、同じ名前のXMLファイル出ないとエラー -->
<mapper namespace="curdwork.mapper.Tmapper">
<!-- read処理　selectで囲む -->
  <select id="findAll" resultType="curdwork.entity.Tentity">
    SELECT * 
    FROM crud_work
  </select>
 <!-- insert処理　selectで囲む 登録--> 
  <insert id="insert">
    insert into crud_work (
        id,
        product_name,
        quantity
    )
    values (
        #{id},
        #{product_name,},
        #{quantity}
    )
  </insert>
<!-- select処理1件　update画面の表示のために必要 https://qiita.com/fftcy-sttkm/items/57e8596820cff28ec682-->  
  <select id="findById" resultType="curdwork.entity.Tentity">
    select  *
    from    crud_work
    where   id = #{id}   
  </select>
  <update id="update">
    update crud_work set
    id = #{id},
    product_name = #{product_name},
    quantity = #{quantity},
  where id = #{id}
</update>
</mapper>