<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- マッパークラスと同じ場所、同じ名前のXMLファイル出ないとエラー -->
<mapper namespace="curdwork.mapper.Tmapper">
<!-- read処理　selectで囲む -->
  <select id="findAll" resultType="curdwork.entity.Tentity">
    SELECT * 
    FROM crud_work
  </select>
</mapper>