<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="curdwork.mapper.Tmapper">
  <select id="find" resultType="curdwork.entity.Tentity">
    select * from crud_work
  </select>
</mapper>